.auction-details-page {
  padding: 150px 0;
}

img {
  max-width: 100%;
}

.main-image {
  height: 450px;
  object-fit: contain;
  width: 100%;
  border-radius: 15px;
}

.item-heading {
  font-weight: bold;
}

.item-description {
  margin-top: 10px;
  color: var(--grey);
  font-size: 14px;
}

td.text-right {
  width: 40%;
  /* width: 300px; */
  text-align: right;
}

td.text-left {
  width: 60%;
  text-align: left;
  padding-left: 10px;
}

.fs-18 {
  font-size: 20px;
}

img.slide-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #d7d7d775;
}

div.swiper-area-border {
  border: 2px solid #407ff0;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 23px;
}

.swiper-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #407ff0;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.prev-arrow {
  left: 20px;
}

.next-arrow {
  right: 20px;
}

.image-and-timer-area {
  position: relative;
  min-height: 450px;
}

.auction-timer {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: var(--blue);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.timer-text.bg-white.text-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  box-shadow: 0px 0px 10px rgba(131, 131, 131, 0.5);
  border-radius: 10px;
}

.timer-text .time {
  font-weight: 700;
}

.timer-text .text {
  font-size: 11px;
  font-weight: bold;
}

.refresh-btn {
  font-size: 13px;
  width: 150px;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-left: 10px;
}

.refresh-btn img {
  width: 18px;
  margin-left: 10px;
}

.aution-running-sta {
  padding: 8px 20px;
  border: 2px solid #0080007d;
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--green);
  font-weight: bold;
}

.aution-finish-sta {
  padding: 8px 20px;
  border: 2px solid #d8282575;
  border-radius: 10px;
  margin-bottom: 20px;
  color: red;
  font-weight: bold;
}

table {
  width: 100% !important;
}

.large-spinner {
  font-size: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.form-control {
  border: 1px solid #e9e9e9 !important;
}


.item-details-area,
.aution-running-sta {
  margin-left: 20px;
}

.slide-image {
  cursor: pointer;
}

button.btn.btn-block.btn-primary.sha {
  margin-top: 15px;
}

h3.item-heading {
  font-size: 28px;
}

.item-description {
  font-size: 16px;
}

.item-description {
  text-align: justify;
}



@media (max-width: 768px) {
  .auction-timer {
    width: 90%;
  }

  .right-half {
    margin-top: 30px;
  }

  .hide-on-mobile {
    display: none;
  }

  ol.carousel__pagination {
    display: flex !important;
    padding: 0px !important;
  }

  .swiper-area.swiper-area-border {
    border: unset;
    padding: unset;

  }

  .aution-finish-sta {
    margin-right: 100px;
  }

  .refresh-btn {
    width: 220px;
    margin: 0 auto;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }

  td.text-right {
    width: 45%;
    font-weight: bold;
  }

  td.text-left {
    width: 55%;
  }

  form.auction-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .from-group.button-group {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5px;
  }

  .aution-running-sta {
    margin-right: 100px;
  }

  .item-details-area,
  .aution-running-sta {
    margin-left: 0px;
  }

  .from-group.button-group {
    width: 110px;
  }

  button.btn.btn-block.btn-primary.sha {
    width: 100% !important;
  }

  input.form-control.custom-input-box,
  button.btn.btn-block.btn-primary.sha {
    height: 50px;
    margin-top: 0px;
  }

  h3.item-heading {
    font-size: 28px;
  }

  .item-description {
    font-size: 16px;
  }

  .shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 21%) !important;
  }

  .right-half {
    margin-top: 30px;
    padding: 15px;

  }

  tr.pricing-from {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    padding: 0px 20px 15px;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 21%) !important;
  }


}