.container {
  max-width: 1100px !important;
}

.app-header {
  margin-top: 30px;
}

.app-header .logo {
  width: 370px;
  max-width: 100%;
}

.footer-logo {
  height: 45px;
}

.footer-desc {
  margin-top: 30px;
  color: var(--grey);
  font-size: 13px;
  font-weight: 300;
}

.middle-footer-content {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin-left: 20px;
  list-style: none;
  font-weight: bold;
  font-size: 13px;
  margin-top: 70px;
}

.middle-footer-content li {
  margin-bottom: 10px;
}

.middle-footer-content li a {
  text-decoration: none;
}

.right-footer-content {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
  color: var(--grey);
}

.right-footer-content li {
  margin-bottom: 10px;
}

.right-footer-content li svg {
  margin-right: 8px;
  color: var(--grey);

}

.app-footer {
  border-bottom: 2px solid #ccc;

}

.fs-13 {
  font-size: 13px;
}

.footer-icon g g {
  font-size: 10px;
  stroke: #fff;
  fill: #fff;

}

li.page-item {
  margin: 0 10px;
  /* padding: 2px; */
}

a.page-link {
  padding: 5px 10px !important;
  border-radius: 7px !important;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4f96ff;
  font-size: 16px;
  color: var(--grey);
}

.page-item.active .page-link,

.page-item:hover .page-link {
  z-index: 3;
  border-color: #4f96ff !important;
  background-color: #4f96ff !important;
  color: #fff !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important
}