
/* Override default value of 'none' */
#termsModal { 
  display: none !important;
   transition-duration: 1s;
  padding-top: 50px;
  background: rgba(0,0,0,.3);
transform: scale(.7);
 }
#termsModal.show {
  display: block !important;
  transform: scale(1);

}
#termsModal .modal-dialog {
  position: relative;
}
#termsModal .modal-content {
  border: none;
  padding: 2rem;
  border-radius: 15px;
  width: 500px;
 }
#termsModal .modal-close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
} 
#termsModal  .modal-dialog {
    max-width: 90% !important;
    width: 950px !important;
    margin: 0 auto;
}
#termsModal .modal-content{
    width: 100%;
}

.terms-buttons{
margin-top: 40px;
}
.terms-buttons .btn{
    padding: 15px;
    border-radius: 10px;
}
.terms-buttons .btn-outline-black{
    border: 2px solid rgb(93, 93, 93);
}